@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

#title{
    text-align: center;
    font-family: 'Protest Guerrilla',sans-serif;
    font-size: 4em;
    background-color: gold;
    padding-top: 1%;

}

.inicio img{
    width: 100%;
    height: auto;
}

.boton {
    align-items: center;
    margin-left: auto;
    margin-left: auto;
    padding: 2% 16%;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    background-color: beige;
}

input {
    padding: 11px;
    width: 30%;
    margin: 2%;
    border-radius: 30px;
    background-color: white;
    color: #333;rgb(162, 216, 197)rgb(98, 197, 162)rgb(119, 197, 169)rgb(227, 237, 234);
}

.b-tablero{
    background-color: white;
    
    border-radius: 2rem;
    size: 10rem;
    padding: 1% 1cap;
    border-color: goldenrod;
}

.b-tablero:hover{
    background-color: gold;
}

.b-tablero:active{
    background-color: gold;
}

.ipartida {
    border-radius: 10rem;
    size: 10%;
    
    align-items: center;
    margin-left: auto;
    margin-left: auto;
    padding: 1% 2%;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    background-color: gold;
    border-color: black;
    border-style: dotted;
}

.ipartida:hover{
    background-color: #ddd;
}

.ipartida:hover{
    background-color: #ddd;
}

.tab{
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    overflow: hidden;
}

.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    cursor: pointer;
}

.tab button:hover{
    background-color: #ddd;
}

.tab button.active{
    background-color: #ddd;
}

.tabcontent{
    padding: 6px 12px;
    border: 1px solid #ccc;
    display: none;
}


table {
    border-collapse: collapse;
    align-content: center;
}

table, th, td {
    border: 2px solid gold;
    padding: 20px;
    text-align: center;
    margin:auto;
    margin-bottom: 2%;
}

#carton {
    margin-top: 20px;
}

table .numero-destacado {
    color: red ;
}

.disem {
    border-radius: 8rem;
    size: 5%;
    padding: 0.5% 0.5%;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    background-color: gold;
    border-color: black;
    border-style: dotted;
    
}

@media screen and (max-width: 768px) {
    .boton {
        padding: 2% 8%; 
    }

    input {
        width: 60%; 
    }

    .b-tablero {
        size: 5rem; 
    }

    .ipartida {
        size: 5%; 

    table, th, td {
        padding: 10px; 
    }

    #carton {
        margin-top: 10px; 
    }

    .disem {
        size: 3%; 
    }
}

