@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

#title{
    text-align: center;
    font-family: 'Protest Guerrilla',sans-serif;
    font-size: 4em;
    background-color: goldenrod;
    padding-top: 1%;
}

.inicio img{
    width: 100%;
    height: auto;
}

.boton {
    align-items: center;
    margin-left: auto;
    margin-left: auto;
    padding: 2% 16%;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    background-color: beige;
}
input {
    padding: 10px;
    width: 30%;
    margin: 4%;
    border-radius: 30px;
    background-color: white;
    color: #333;rgb(162, 216, 197)rgb(98, 197, 162)rgb(119, 197, 169)rgb(227, 237, 234);
}